ass2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

       <xs:element name="interface">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="package" type="xs:string"></xs:element>					
                            <xs:element name="extends">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="from" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="import" maxOccurs="unbounded" type="xs:string"></xs:element>
                            <xs:element name="abstract_method" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="access_level" type="xs:string"></xs:element>
                                                 <xs:element name="arguments">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="parameter" maxOccurs="unbounded" type="xs:string">
                                                                             <xs:complexType>
                                                                                    <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="throws">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="exception" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="return" type="xs:string"></xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                     <xs:attribute name="id" type="xs:string"></xs:attribute>
                 </xs:complexType>
          </xs:element>
   </xs:schema>
