WebApplication.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="interface">
    <xsd:complexType>
      <xsd:sequence>
		<xsd:element name="package" type="xsd:string"  minOccurs="0"  maxOccurs="unbounded" />
        
		<xsd:element name="extends" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="from" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:complexType>  
        </xsd:element>
		
        <xsd:element name="import" type="xsd:string"  minOccurs="0" maxOccurs="unbounded" />
		
        <xsd:element name="abstract_method" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="access_level" type="xsd:string"  minOccurs="0" />
			  
              <xsd:element name="arguments">
                <xsd:complexType>
                  <xsd:sequence>
				  
			<xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="type" type="xsd:string"  />
                          </xsd:extension>
                      </xsd:simpleContent> 
                      </xsd:complexType>
             </xsd:element>
					
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
			  
              <xsd:element name="throws" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="exception" type="xsd:string"  minOccurs="0" maxOccurs="unbounded" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
			  
              <xsd:element name="return" type="xsd:string" minOccurs="0" />
			  
            </xsd:sequence>			
            <xsd:attribute type="xsd:string" name="name"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>